[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mutagen = ">=1.34.1"
atomicwrites = ">=1.1.5"
"beautifulsoup4" = ">=4.6.0"
cchardet = ">=2.0.0"

[dev-packages]

[requires]
python_version = "3"
